$red: #c90034;
$blue: #337ab7;
$green: #4CAF50;
$background: #e8e8e8;
$white: #ffffff;
$black: #000000;
$lightblack: #555555;
$grey: #3c3c3c;
$navborder: #c7c7c7;
$navborderhidden: #d8deea;
$reddefault: #f00;
$lightgrey: #f6f6f6;
