@{
    ViewData["Title"] = "ChangePassword";
}
<style>
    body {
        font: 100% 'Open Sans', sans-serif;
        color: #000;
        background: #e8e8e8;
    }

    .form-control:focus {
        border-color: #337ab7;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    .login-form {
        position: absolute;
        width: 350px;
        top: 50%;
        left: 50%;
        color: #434343;
        border-radius: 1px;
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px 22px;
        transform: translate(-50%,-50%);
    }

    .text-center.small {
        margin: 5px 0 0 0;
    }

    h4 {
        text-align: center;
        font-size: 17px;
        line-height: 17px;
        margin: 10px 0 30px 0;
        color: #313052;
    }

    .avatar {
        color: #fff;
        text-align: center;
        z-index: 9;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        min-height: 40px;
        border-radius: 2px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .btn {
        min-height: 40px;
        border-radius: 2px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        background: #337ab7;
        border: none;
        line-height: normal;
        width: 100%;
        color: white;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
    }

    .checkbox-inline {
        float: left;
    }

    input[type="checkbox"] {
        margin-top: 2px;
    }

    .forgot-link {
        float: right;
    }

    .small {
        font-size: 13px;
    }

    a {
        color: #337ab7;
    }
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>'
<div class="login-form">
    <div class="avatar">
        <img src="../../../assets/logo.png" />
    </div>
    <h4>ChangePassword</h4>
    <div class="form-group">
        <input type="password" required id="oldpwd" class="form-control" placeholder="Old Password" />
    </div>
    <div class="form-group">
        <input type="password" required id="newpassword" class="form-control" placeholder="New Password">
    </div>
    <div class="form-group">
        <input type="password" required id="confirmPassword" class="form-control" placeholder="Confirm Password">

        @*<div style="color:red; font-size:12px;">{{pwdErrMsg}}</div>*@
    </div>
    <div class="rwchngpas text-center">
        <input type="submit" value="Change" onclick="changePassword();" class="btn" />
    </div>
</div>
<script>
    function changePassword() {
        debugger;
        var hostpath = window.location.origin;
        var id = window.location.href;
        id = id.split('?id=')[1];
        var oldPassword = $('#oldpwd').val();
        var CnfrmPassword = $('#confirmPassword').val();
        var password = $('#newpassword').val();
        if (password != CnfrmPassword) {
            alert("Password Mismatch");
            $('#oldpwd').val('');
            $('#newpassword').val('');
            $('#confirmPassword').val('');
            return;
        }
        if (oldPassword == "reset@123" && CnfrmPassword == password && password != "reset@123") {
            //let id = this._route.snapshot.queryParams.id;
            //var userdetailsObj = {
            //    Id: id,
            //    Password: this.password
            //}

            $.ajax({
                url: hostpath + "/Home/OneTimeChangepassword?id=" + id + '&password=' + password.trim(),
                type: "GET",
                success: function (result) {
                    debugger;
                    console.log(result);
                    var resultData = result;
                    alert("Password Changed Succesfully");
                    window.location = hostpath;// redirect to home page
                },
                error: function (xhr, status) {
                    debugger;
                    console.error(error);
                    //alert("An error occurred: " + status);
                }
            });
        }
        else {
            if (password == "reset@123") {
                $('#oldpwd').val('');
                $('#newpassword').val('');
                $('#confirmPassword').val('');
                alert("New Password can't be 'reset@123");
                //pwdErrMsg = "New Password can't be 'reset@123'";
            } else if (this.oldPassword != "reset@123") {
                $('#oldpwd').val('');
                $('#newpassword').val('');
                $('#confirmPassword').val('');
                alert("Old Password not matched");
                //this.pwdErrMsg = "Old Password not matched";
            }
            else {
                $('#oldpwd').val('');
                $('#newpassword').val('');
                $('#confirmPassword').val('');
                alert("Old Password and New Password can't be same");
                //this.pwdErrMsg = "Old Password and New Password can't be same";
            }

        }
    }
</script>
