
<h4>Change Password</h4>

<div class="content_area">
    <div id="floatalert">{{successMsg}}</div>
    <!--<form #rbtpasswordchange="ngForm">-->
        <div class="row rwchngpas">
            <div class="col-md-4">
                <label>Old Password</label>
                <input type="password" required [(ngModel)]="oldPassword" class="form-control" />
            </div>
        </div>
        <div class="row rwchngpas">
            <div class="col-md-4">
                <label>New Password</label>
                <input type="password" required [(ngModel)]="password" name="newpassword" #newpassword="ngModel" (change)="hideErrorMsg()"  class="form-control">
                <!--<p *ngIf="password.errors?.required">required error</p>-->
                <!--<small *ngIf="password.errors?.pattern">Must contain one Special charecter </small>-->
            </div>
        </div>
        <div class="row rwchngpas">
            <div class="col-md-4">
                <label>Confirm Password</label>
                <input type="password" [(ngModel)]="CnfrmPassword" name="confirmPassword" #confirmPassword="ngModel" [equalTo]="newpassword" class="form-control">
                <small *ngIf="confirmPassword.errors?.equalTo">password mismatch</small>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>{{pwdErrMsg}}</label>
                <input type="submit"  value="Change" (click)="changePassword();" class="button btn btn-success" />
            </div>
        </div>
    <!--</form>-->
</div>



