<h1>Corporate List  <a class="btn btn-primary btn-sm" [routerLink]="['/user/createcorporate']" [queryParams]="{key:sessionToken}">
    <i class="fa fa-building" aria-hidden="true"></i> Create
  </a>
</h1>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>
<div class="content_area">

  <table class='table table-striped'>
    <thead class="thead-dark">
      <tr>
        <th>Icust</th>
        <th>Name</th>
        <th>Location</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="corporatesData.length==0">
        <td colspan="2">
          No records Found
        </td>
      </tr>
      <tr *ngFor="let cust of corporatesData">
        <!--<td>{{cust.id}}</td>-->
        <td>{{cust.no_}}</td>
        <td>{{cust.name}}</td>
        <td>{{cust.location}}</td>
        <td>{{cust.phone}}</td>
        <td>{{cust.email}}</td>

        <!--<td>
            <a class="editbutton" [routerLink]="['/home/index/editLocation']" [queryParams]="{locId:loc.id,key:sessionToken}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </td>-->
        <!--<td>
            <a class="deletebutton" [routerLink]="" (click)="deleteLocation(loc.id)"><i class="fa fa-trash" aria-hidden="true">delete</i></a>
        </td>-->
      </tr>
    </tbody>
  </table>
</div>

<div class="corpPageFooter">
  <div class="row">
    <div class="col-md-2 pagiselect">
      <select aria-hidden="true" (change)="noofRecordstoDisplay($event)">
        <option *ngFor="let val of drpdwnPageSizes" [ngValue]="val">{{val}}</option>
      </select>
    </div>
    <div class="col-md-8">
      <ul class="pagination" id="grouplist">
        <li *ngIf="totalNoofpages>=11" (click)="previousPage(pageShow-10)">Previous</li>
        <li *ngIf="totalNoofpages>=pageShow+1" id="li{{pageShow+1}}" [ngClass]=" {'active': selectedIndex ==pageShow+1, 'list-group-item active': true}" (click)="currentPageBind(pageShow+1)">{{pageShow+1}}</li>
        <li *ngIf="totalNoofpages>=pageShow+2" id="li{{pageShow+2}}" [ngClass]="{'active': selectedIndex == pageShow+2, 'list-group-item': true}" (click)="currentPageBind(pageShow+2)">{{pageShow+2}}</li>
        <li *ngIf="totalNoofpages>=pageShow+3" id="li{{pageShow+3}}" [ngClass]="{'active': selectedIndex == pageShow+3, 'list-group-item': true}" (click)="currentPageBind(pageShow+3)">{{pageShow+3}}</li>
        <li *ngIf="totalNoofpages>=pageShow+4" id="li{{pageShow+4}}" [ngClass]="{'active': selectedIndex == pageShow+4, 'list-group-item': true}" (click)="currentPageBind(pageShow+4)">{{pageShow+4}}</li>
        <li *ngIf="totalNoofpages>=pageShow+5" id="li{{pageShow+5}}" [ngClass]="{'active': selectedIndex == pageShow+5, 'list-group-item': true}" (click)="currentPageBind(pageShow+5)">{{pageShow+5}}</li>
        <li *ngIf="totalNoofpages>=pageShow+6" id="li{{pageShow+6}}" [ngClass]="{'active': selectedIndex == pageShow+6, 'list-group-item': true}" (click)="currentPageBind(pageShow+6)">{{pageShow+6}}</li>
        <li *ngIf="totalNoofpages>=pageShow+7" id="li{{pageShow+7}}" [ngClass]="{'active': selectedIndex == pageShow+7, 'list-group-item': true}" (click)="currentPageBind(pageShow+7)">{{pageShow+7}}</li>
        <li *ngIf="totalNoofpages>=pageShow+8" id="li{{pageShow+8}}" [ngClass]="{'active': selectedIndex == pageShow+8, 'list-group-item': true}" (click)="currentPageBind(pageShow+8)">{{pageShow+8}}</li>
        <li *ngIf="totalNoofpages>=pageShow+9" id="li{{pageShow+9}}" [ngClass]="{'active': selectedIndex == pageShow+9, 'list-group-item': true}" (click)="currentPageBind(pageShow+9)">{{pageShow+9}}</li>
        <li *ngIf="totalNoofpages>=pageShow+10" id="li{{pageShow+10}}" [ngClass]="{'active': selectedIndex == pageShow+10, 'list-group-item': true}" (click)="currentPageBind(pageShow+10)">{{pageShow+10}}</li>
        <li *ngIf="totalNoofpages>=pageShow+10" (click)="nextPage(pageShow+10)">Next</li>
      </ul>
    </div>

    <div class="col-md-2 pagiselect">
      {{((page-1)*paginationSize)+1}}-{{page*paginationSize}} of {{totalRecords|number}}
    </div>
  </div>
</div>
